/*Nagłówek*/
/**{
    font-family: 'Lato', sans-serif;
}




div.left_menu{
    min-width: 150px;
    max-width: 300px;
    background-color: #3da2d7;
    float: left;
}




div.header{
    max-width: 1200px;
    min-width: 400px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

div.logo{
    float: left;
    width: 163px;
    height: 52px;
    margin: 10px;
}

div.user_menu{
    position: relative;
    display: block;
    float: right;
    width: 250px;
    height: 50px;
    margin: 10px;
    text-align: center;
    margin-top: 30px;
}

button.dropdown-toggle{
    background-color: white;
    border: 10px;
}*/
/*Koniec nagłówka*/

















/*Zajęte:
klasy:          header, logo, user_menu, container, element, choice, icons, icon_size,
                accounts_sheet, email, accounts_informations, id, name, status, city,
                login, table*
id:             nick, first_element, second_element, third_element, fourth_element,
                login_panel, login_button, login, password,


*z zewnętrznego arkusza stylów

*/





*{
    font-family: 'Lato', sans-serif;
}

div.header{
    max-width: 1200px;
    min-width: 400px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

div.logo{
    float: left;
    width: 163px;
    height: 52px;
    margin: 10px;
}

div.user_menu{
    position: relative;
    display: block;
    float: right;
    width: 250px;
    height: 50px;
    margin: 10px;
    text-align: center;
    margin-top: 30px;
}

ul{
    list-style-type: none;
}

/*Menu rozwijane*/

#nick li .choice{
    display: none;
    background-color: #e6e6e6;
}

#nick li:hover .choice{
    display: block;
    width: 200px;
    position: absolute;
    right: 0%;
    text-align: left;
    border: 1px solid gray;
}

#nick li .choice li{
    width: 170px;
    border-top: 1px solid gray;
}

#nick > li{
    height: 40px;
}

#nick li .choice a{
    display: block;
    width: 170px;
    height: 1.5em;
    margin-top:2px;
    margin-bottom: 2px;
}
#nick li .choice li a:hover{
    background-color: #f2f2f2;
    margin-left: -30px;
    padding-left: 30px;
    margin-right: 20px;
    padding-right: 20px;
}

#nick li .choice li hr{
    border: 0.5px solid gray;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;

}
a:hover{
    text-decoration: none;
    color: black;

}
a:active{
    text-decoration: none;
    color: black;

}



/*Do menu z zewnętrznego arkusza stylów*/

button.dropdown-toggle{
    background-color: white;
    border: 10px;
}

/*Koniec menu rozwijanego*/
/*Elementy na stronie*/
/*Kolory kafelek*/

#first_element{
    background-color: #3da2d7;
    border-color: #3da2d7;
}

#second_element{
    background-color: #bedc32;
    border-color: #bedc32;
}

#third_element{
    background-color: #dc8232;
    border-color: #dc8232;
}

#fourth_element{
    background-color: #e34e55;
    border-color: #e34e55;
}

/*Koniec kolorów kafelek*/
/*Pozycjonowanie kafelek w kontynerze*/

div.container{
    max-width: 1200px;
    min-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

div.element{
    background-color: brown;
    width: 30%;
    height: 64px;
    margin: 1%;
    float: left;
    border: 2px solid;
}

div.element img{
    float: left;
    padding: 1px;
}

div.element span{
    background-color: white;
    float: left;
    clear: left;
    width: 100%;
}

/*Koniec pozycjonowania kafelek*/
/*Koniec elementów na stronie*/
/*Ułożenie ikonek na stronie po przeniesieniu na podstronę*/

div.icon_size{     /*1możliwość*/
    width: 100px;
    height: 72px;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    margin: 10px;
    float: left;
    border: 1px solid;
}

div.icon_size span{
    display: block;
    float: left;
    clear: left;
    width: 100%;
    background-color: white;
    font-size: 15px;
}

/*div.icon_size{    2możliwość
    width: 200px;
    height: 43px;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: left;
    margin: 10px;
    float: left;
    border: 1px solid;
}

div.icon_size span{
    display: block;
    float: left;
    clear: left;
    width: 100%;
    background-color: white;
    font-size: 15px;
}

div.icon_size img{
    padding-left: 5px;
}*/

/*div.icon_size{  3możliwość
    width: 22.5%;
    height: 43px;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    margin: 1%;
    float: left;
    border: 1px solid;
}

div.icon_size span{
    display: block;
    float: left;
    clear: left;
    width: 100%;
    background-color: white;
    font-size: 15px;
}*/

/*div.icon_size{    4możliwość
    width: 22.5%;
    height: 43px;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: left;
    margin: 1%;
    float: left;
    border: 2px solid;
}

div.icon_size span{
    display: block;
    float: left;
    clear: left;
    width: 100%;
    background-color: white;
    font-size: 15px;
}

div.icon_size img{
    padding: 1px;
    padding-left: 5px;
}*/

/*Koniec ułożenia ikonek na stronie po przeniesieniu na podstronę*/
/*Rozmieszczenie treści starego arkusza kont*/

/*div.accounts_sheet{
    max-width: 1200px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: turquoise;
    clear: both;
    font-size: 14px;
    color: white;
}

div.accounts_sheet div{
    background-color: #78bee3;
}

div.accounts_sheet div.email{
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
}

div.accounts_sheet div.email span{
    font-size: 14px;
    padding-top: 5px;
    margin-left: 15px;
    float: left;
}

div.accounts_sheet div.email input{
    width: 200px;
    height: 17px;
    margin-left: 15px;
    float: left;
    clear: left;
}

div.accounts_sheet div.email button{
    width: 75px;
    height: 23px;
    float: left;
    margin-left: 2px;
    background-color: white;
    border: none;
}

div.accounts_informations{
    width: 100%;
    height: 40px;
    float: left;
    clear: left;
    margin-top: 10px;
    text-align: center;
}

div.accounts_informations span{
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

div.accounts_informations span.id{
    display: block;
    width: 40px;
}

div.accounts_informations span.name{
    width: 150px;
}

div.accounts_informations span.status{
    width: 200px;
}

div.accounts_informations span.city{
    width: 120px;
}*/



/*Koniec rozmieszczenie treści starego arkusza kont*/
/*Rozmieszczenie nowego arkusza kont*/

div.email{
    width: 100%;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

div.email span{
    font-size: 14px;
    padding-top: 5px;
    margin-left: 15px;
    float: left;
}

div.email input{
    width: 200px;
    height: 25px;
    margin-left: 15px;
    float: left;
    clear: left;
    border: 1px solid black;
    border-radius: 3px;
}

div.email button{
    width: 75px;
    height: 25px;
    float: left;
    margin-left: 2px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

/*Koniec rozmieszczenia nowego arkusza kont*/
/*Panel logowania*/


#login_panel{
    width: 600px;
    height: 185px;
    margin: 15% auto;
    background-color: #3da2d7;
    border-radius: 5px;
}

.login label{
    font-size: 13px;
}

div.login{
    width: 350px;
    height: 40px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.login input{
    width: 250px;
    height: 23px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    border-radius: 2px;
    padding: 3px;
}

div.login label{
    margin-left: 50px;
    color: white;
}

#login_button{
    width: 80px;
    height: 23px;
    float: right;
    margin-right: 44px;
}
/*Koniec panelu logowania*/


div.left_menu{
    min-width: 150px;
    max-width: 300px;
    background-color: #3da2d7;
    float: left;
}
