<h1>Panel klienta: Allegro</h1>
<div id="buttons">
  <button class="button button_list"><a href="#">Dane klienta</a></button>
  <button class="button button_list"><a href="#">Dokumenty</a></button>
  <button class="button button_list"><a href="#">Dostępy</a></button>
  <button class="button button_list"><a href="#">Płatności</a></button>
  <button class="button button_list"><a href="#">Ustawienia</a></button>
  <button class="button button_list"><a href="#">Zdarzenia</a></button>
  <button class="button button_list"><a href="#">Zgłoszenia</a></button>
</div>

<div id="form">
  <form action="">
    <table>
      <tr><td><h2>Dane podstawowe</h2></td><td><button class="button change_button">Zmień</button></td></tr>


      <tr><td><label for="first_name_informations">Imię</label></td><td><input type="text" id="first_name_informations" name="first_name_informations" value="" readonly></td></tr>
      <tr><td><label for="name_informations">Nazwisko</label></td><td><input type="text" id="name_informations" name="name_informations" value="" readonly></td></tr>


      <tr><td><h2>Dane kontaktowe</h2></td><td><button class="button change_button">Zmień</button></td></tr>


      <tr><td><label for="first_name_contact">Imię</label></td><td><input type="text" id="first_name_contact" name="first_name_contact" value="" readonly></td></tr>
      <tr><td><label for="name_contact">Nazwisko</label></td><td><input type="text" id="name_contact" name="name_contact" value="" readonly></td></tr>
      <tr><td><label for="postcode_contact">Kod pocztowy</label></td><td><input type="text" id="postcode_contact" name="postcode_contact" value="" readonly></td></tr>
      <tr><td><label for="city_contact">Miasto</label></td><td><input type="text" id="city_contact" name="city_contact" value="" readonly></td></tr>
      <tr><td><label for="address_contact">Adres</label></td><td><input type="text" id="address_contact" name="address_contact" value="" readonly></td></tr>
      <tr><td><label for="company_name_contact">Nazwa firmy</label></td><td><input type="text" id="company_name_contact" name="company_name_contact" value="" readonly></td></tr>


      <tr><td><h2>Dane do faktury</h2></td><td><button class="button change_button">Zmień</button></td></tr>


      <tr><td><label for="company_name_invoice">Nazwa</label></td><td><input type="text" id="company_name_invoice" name="company_name_invoice" value="" readonly></td></tr>
      <tr><td><label for="nip_invoice">NIP</label></td><td><input type="text" id="nip_invoice" name="nip_invoice" value="" readonly></td></tr>
      <tr><td><label for="regon_invoice">Regon</label></td><td><input type="text" id="regon_invoice" name="regon_invoice" value="" readonly></td></tr>
      <tr><td><label for="address_invoice">Adres</label></td><td><input type="text" id="address_invoice" name="address_invoice" value="" readonly></td></tr>
      <tr><td><label for="city_invoice">Miasto</label></td><td><input type="text" id="city_invoice" name="city_invoice" value="" readonly></td></tr>
      <tr><td><label for="postcode_invoice">Kod pocztowy</label></td><td><input type="text" id="postcode_invoice" name="postcode_invoice" value="" readonly></td></tr>
    </table>
  </form>
</div>



