*{
  font-family: 'Lato', sans-serif;
}

div.header{
  width: 100%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
}

div.logo{
  float: left;
  width: 163px;
  height: 52px;
  margin: 10px;
  margin-left: 40px;
}

div.user_menu{
  position: relative;
  display: block;
  float: right;
  width: 250px;
  height: 50px;
  text-align: center;
  margin-top: 30px;
  margin-right: 60px;
  margin-left: -40px;
}

ul{
  list-style-type: none;
}

/*Menu rozwijane*/

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;

}
a:hover{
  text-decoration: none;
  color: black;

}
a:active{
  text-decoration: none;
  color: black;

}



/*Do menu z zewnętrznego arkusza stylów*/

button.dropdown-toggle{
  background-color: white;
  border: 10px;
}

/*Koniec menu rozwijanego*/
/*Rozmieszczenie nowego arkusza kont*/

div.email{
  width: 100%;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}

div.email span{
  font-size: 14px;
  padding-top: 5px;
  margin-left: 15px;
  float: left;
}

div.email input{
  width: 200px;
  height: 25px;
  margin-left: 15px;
  float: left;
  clear: left;
  border: 1px solid black;
  border-radius: 3px;
}

div.email button{
  width: 75px;
  height: 25px;
  float: left;
  margin-left: 2px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}

/*Koniec rozmieszczenia nowego arkusza kont*/
/*Lewe menu*/

div.left_menu {
  width: 220px;
  height: 100%;
  float: left;
  display: block;
  text-align: left;
  margin-left: 40px;
}

li.nav-item{
  padding-top: 1em;
}

div.info_container{
  display: flex;
}

/*Koniec lewego menu*/
/*Panel logowania*/

.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3{
  text-align: center;
  color: #333;
}

.login-container form{
  padding: 10%;
}

.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

div.col-md-6{
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}
/*Koniec panelu logowania*/
/*Zakładki z informacjami o koncie*/

#form_data{
  width: 100%;
  height: auto;
}

/*Koniec zakładek z informacjami o koncie*/
